 body{
    background: radial-gradient(circle at center,rgb(39, 108, 28), #101011);
    color: white;
}
/*
.button{
    
    background-color:#4bf408;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    margin-top: 60px;
    /* padding-top: 40px; */
    /* margin-top: 35vh; */

 /* } */
/* .button:hover{
    background-color: #4CAF50;
}
h1{

    font-size: larger;
    font-family: POPPINS;
    text-align: center;
    color:lime;
}
.container{
    margin-top: 30vh;
}  */


.bigbox{
    height: 350px;
    gap:50px ;
    width: 215px;
   justify-self: center;
   border: 2px gray solid;  
   background: radial-gradient(circle at  right,black,lime);
}
.bigbox input{
    margin-top: 40px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.but{
    margin-left: 6px;
    margin-top: 10px;
   height: 34px;
   width: 200px; 
}
.disp{
    text-align: center;
    font-size: 30px;
    font-family: poppins;
}